!!! xml
%feed{:xmlns => "http://www.w3.org/2005/Atom"}
 
  %title Snepo articles
  %link{:href => "http://feeds.feedburner.com/snepo", :rel => "self", :hreflang => "en", :type => "application/atom+xml"}/
  %link{:href => "http://snepo-blagh.heroku.com/", :rel => "alternate", :hreflang => "en", :type => "text/html"}/
   
  %author
    %name Snepo Research
    %uri http://snepo-blagh.heroku.com/
    %email info@snepo.com

  %id tag:snepo-blagh.heroku.com,2009-01-04:/articles
  %updated= @articles.first.published.xmlschema

  - for article in @articles[0..14]
    %entry
      %id== tag:snepo-blagh.heroku.com,2009-01-04:#{article_path(article)}
      %title{:type => "html"}= strip_tags(article.title)
      %published= article.published.xmlschema
      %updated= (article.updated || article.published).xmlschema
      %link{:href => "http://snepo-blagh.heroku.com#{article_path(article)}", :rel => "alternate", :hreflang => "en", :type => "text/html"}/
      %content{:type => "xhtml", "xml:lang"=>"en", "xml:base"=>"http://snepo-blagh.heroku.com/"}
        %div{:xmlns => "http://www.w3.org/1999/xhtml"}= absoluteify_links(article_html(article, true))
